<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>JobCreate</servlet-name>
        <servlet-class>tn.dbll.servlet.JobCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobRead</servlet-name>
        <servlet-class>tn.dbll.servlet.JobRead</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobUpdate</servlet-name>
        <servlet-class>tn.dbll.servlet.JobUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobDelete</servlet-name>
        <servlet-class>tn.dbll.servlet.JobDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobList</servlet-name>
        <servlet-class>tn.dbll.servlet.JobList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Installation</servlet-name>
        <servlet-class>tn.dbll.servlet.Installation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JobCreate</servlet-name>
        <url-pattern>/job/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobRead</servlet-name>
        <url-pattern>/job/read</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobUpdate</servlet-name>
        <url-pattern>/job/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobDelete</servlet-name>
        <url-pattern>/job/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Installation</servlet-name>
        <url-pattern>/install</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobList</servlet-name>
        <url-pattern>/job/list</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
